@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&display=swap');

.general{
    height: 100vh;
    position: relative;
    color: antiquewhite;
    display: grid;
    place-content: center;
    grid-column: auto;
}
.img1{
    width: 390px;
    height: 100%;
    padding-right: 5%;    
    
}


.container1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 10%;
    width: 80%;
    height: 60%;
    margin-top: 130px;
    position: absolute;
 
}
.container2{
    position: absolute;
    height:70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.name1{
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    width: 60%;
    letter-spacing: 10px;
    color: pink;
    
    font-size: 46px;
    position: relative;
    background-color: transparent;
}
.name2{
    display: flex;
    flex-direction: row;
    padding-left: 40%;
    width: 100%;
    letter-spacing: 10px;
    color: rgba(252, 41, 76, 0.678);
    
    font-size: 36px;
    position: relative;
    margin-top: 0;
    background-color: transparent;
}
.titleTags{
    background-color: transparent;
    height: auto;
    width: 100%;
}
.tags{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    color: rgb(193, 33, 60);
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.letters{
    position: relative;
    background-color: transparent;
    width: 100%;
    height: auto;
}
.primTitle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10%;
    transition: all ease-in 1s;
    font-family: 'Architects Daughter', cursive;
    height: auto;
    font-size: 30px;
    position: relative;
    background-color: transparent;
       
}
.primTitle:hover{
    color:black;
    text-shadow: 1px 1px 2px pink;
}
.segTitle{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20%;
    color: pink;
    height: auto;
    font-family: 'Architects Daughter', cursive;

    font-size: 32px;
    position: relative;
    background-color: transparent;
}

.componente2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 30px;
background-color:transparent;
}
.container3{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}
.name{
    color: rgba(255, 192, 203, 0.923);
    position: relative;
    
    text-shadow: 1px 1px 3px pink;
}
.name:hover{
    color: black;
    text-shadow: 1px 1px 10px pink;
    
}