@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Architects+Daughter&family=Indie+Flower&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Allerta+Stencil&family=Architects+Daughter&family=Indie+Flower&family=Monoton&display=swap');


.general{
    height: 100vh;
    position: relative;
    color: #ecbbc1;
    display: grid;
    place-content: center;
    grid-column: auto;
}
.img1{
    width: 390px;
    height: 100%;
    padding-right: 5%;    
    
}


.container1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 10%;
    width: 80%;
    height: 60%;
    margin-top: 80px;
    position: absolute;
 
}
.container2{
    position: absolute;
    height:70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    
}
.name1{
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    width: 60%;
    letter-spacing: 10px;
    color: #b389a4;
    
    font-size: 46px;
    position: relative;
    background-color: transparent;
}
.name2{
    display: flex;
    flex-direction: row;
    padding-left: 40%;
    width: 100%;
    letter-spacing: 10px;
    color: #b389a4;
    
    font-size: 36px;
    position: relative;
    margin-top: 0;
    background-color: transparent;
}
.titleTags{
    background-color: transparent;
    height: auto;
    width: 100%;
}
.tags{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    color: #793b59;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.letters{
    position: relative;
    background-color: transparent;
    width: 100%;
    height: auto;
}
.primTitle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10%;
    transition: all ease-in 0.5s;
    font-family: 'Allerta Stencil', sans-serif;
    height: auto;
    font-size: 35px;
    position: relative;
    background-color: transparent;
       
}
.primTitle:hover{
    color:#793b59;;
    text-shadow: 1px 1px 2px #976984;
}
.segTitle{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20%;
    color:  #b389a4;
    height: auto;
    font-family: 'Architects Daughter', cursive;

    font-size: 32px;
    position: relative;
    background-color: transparent;
}

.componente2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 30px;
background-color:transparent;
}
.container3{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}
.name{
    color: #b389a4;
    position: relative;
    font-family: 'Aclonica', sans-serif;

    text-shadow: 1px 1px 3px #c498a8;
}
.name:hover{
    color: #793b59;
    text-shadow: 1px 1px 10px #280914;
    
}