
.container{
    background-color: brown;
    height: 100vw;
    margin-top: 5%;
}

.image{
    width: 100px;
    height: 100px;
}
.card{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
.project{
    background-color: aqua;
}
.container_gen{
    padding-top: 150px;
    flex-direction: row;
    height: 200px;
    background-color: chartreuse;
}
.cont_dos{
    background-color: violet;
    margin-top: 25%;
}